{% load in_category %}
<form method="post"
        {% if shopping_list %}
      action="{% url 'products_to_fridge' pk=object.id %}"
        {% else %}
      action="{% url 'products_to_shopping_list' pk=object.id %}"
        {% endif %}
>
    {% csrf_token %}
    {% for category in object.categories.all %}
        {% if shopping_list %}
            {% if object_list|in_category:category %}
                {% if category.has_products_in_shopping_list %}
                    {% include 'shopping_lists/product/product_card.html' %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if object_list|in_category:category %}
                {% include 'shopping_lists/product/product_card.html' %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if object.has_products_without_category %}
        {% if shopping_list %}
            {% if object.has_products_without_category_in_shopping_list %}
                {% include 'shopping_lists/product/product_card.html' with category=None %}
            {% endif %}
        {% else %}
            {% if object.has_products_without_category_in_fridge %}
                {% include 'shopping_lists/product/product_card.html' with category=None %}
            {% endif %}
        {% endif %}
    {% endif %}
<div class="card text-center">
<div class="card-body">
    {% if shopping_list %}
        {% if shop %}
            {% if shop.get_products.count is not 0 %}
                <input class="btn btn-success" type="submit" value="Kupione!" id="add_products">
                {% else %}
                Nie masz żadnych produktów na tej liście
            {% endif %}
        {% else %}
            {% if object.has_products_in_shopping_list %}
                <input class="btn btn-success" type="submit" value="Kupione!" id="add_products">
                                {% else %}
                Nie masz żadnych produktów na tej liście
            {% endif %}
        {% endif %}
    {% else %}
        {% if object.has_products_in_fridge %}
            <input class="btn btn-success" type="submit" value="Wpisz na listę zakupów!" id="add_products">
                            {% else %}
                Nie masz żadnych produktów w lodówce
        {% endif %}
    {% endif %}
</div>
</div>
</form>