<div class="d-flex justify-content-between">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="{{ object.id }}" value="{{ object.id }}" name="product">
        <label class="form-ch eck-label" for="{{ object.id }}">{{ object.name }}</label>

        {% if shopping_list %}
            {% if object.get_quantity %}
                <span class="badge badge-pill badge-warning ml-2">{{ object.get_quantity }}</span>
            {% endif %}
        {% endif %}
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{{ object.get_update_url }}">Edytuj</a>
            <a class="dropdown-item" href="{{ object.get_delete_url }}">Usuń</a>
        </div>
    </div>
</div>
