<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="recipe-list-tab" data-toggle="tab" href="#recipe-list" role="tab"
           aria-controls="recipe-list" aria-selected="false">Wszytkie przepisy</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="create-recipe-tab" data-toggle="tab" href="#create-recipe" role="tab"
           aria-controls="create-recipe" aria-selected="false">Dodaj przepis</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="recipe-list" role="tabpanel" aria-labelledby="profile-tab">
        {% include 'shopping_lists/reciepes.html' with object_list=object.recipes.all %}
    </div>
    <div class="tab-pane fade" id="create-recipe" role="tabpanel" aria-labelledby="profile-tab">
        {% include 'form.html' %}
    </div>
</div>