{% extends 'base.html' %}

{% block title %}
    Usuń {{ object.name }}
{% endblock %}

{% block content %}
    <div class="card mx-auto mt-5 mb-5" style="width: 18rem">
        <div class="card-header text-center">
            Napewno chcesz usunąć {{ object.name }}?
        </div>
        <div class="card-body">
            <form method="post" class>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-success">Cofnij</a>
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}