{% extends 'base.html' %}

{% block title %}
    Usuń {{ object.name }}
{% endblock %}

{% block content %}
    <div class="{% include 'card_classes.html' %}" style="width: 18rem">
        <div class="card-header text-center">
            Na pewno chcesz usunąć {{ object.get_delete_name }}?
        </div>
        <div class="card-body">
            <form method="post" class>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-success">Cofnij</a>
                    <button type="submit" class="btn btn-outline-danger">Usuń</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}