<div class="card mx-auto">
    <div class="card-header">
        {% if category is None %}
            Produkty bez kategorii
        {% else %}
            {{ category }}
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for object in object_list %}
                {% if object.category.id is category.id %}
                    <div class="card col-12 col-sm-6 col-md-4 col-xl-3 d-flex">
                        {% include 'shopping_lists/product/product_row.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>